[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
matplotlib = "*"
pandas = "*"
seaborn = "*"
plotly = "*"
geopy = "*"
tqdm = "*"
jupyterlab = "*"
notebook = "*"
ipykernel = "*"
openpyxl = "*"
shap = "*"
numpy = "==2.2"
xgboost = "*"
category-encoders = "*"
lightgbm = "*"
catboost = "*"
dash = "*"
dash-bootstrap-components = "*"
wordcloud = "*"
mlxtend = "*"
scikit-learn = "==1.4.2"

[dev-packages]
pytest = "*"
black = "*"
flake8 = "*"
ipywidgets = "*"

[requires]
python_version = "3.12"
